#app { height: 100% }

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, 
body {
  position: relative;
  height: 100%;
}

.playlist-carousel {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-slide {
    width: 500px;
    filter: grayscale(70%);
  }

  .swiper-slide-active {
    filter: grayscale(0%);
  }

  .swiper-slide img {
    width: 100%;
  }
}